body {
    font-family: 'Work Sans';
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #454F5C;
}

p {
    font-weight: lighter;
}

a {
    color: #4FC3F7;
}

.jumbotron {
    padding: 0px;
    margin-bottom: 0px;
}

.jumbotron h1 {
    font-size: 72px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 50px;
}

.jumbotron h2 {
    font-size: 27px;
    color: #03A9F4;
}

h1:hover, h2:hover {
    cursor: default;
}

.portfolio-image {
  border-radius: 7px;
}

@media only screen and (max-width : 768px) {
    .intro-tile {
        min-height: 70vh;
        max-height: 70vh;
    }

    .intro-tile h1.big {
        font-size: 62px;
    }

    .big {
        font-size: 62px;
    }

    .intro-tile.tall {
        min-height: 100vh;
    }

    span.line {
      display: inline-block;
    }

    .tile-content.designer-tile, .tile-content.frontend-tile {
        padding: 0px 20px;
    }

    .tile-content.header {
        padding: 0px 20px;
    }

    .frontend, .uxdev, .designer {
        background-attachment: scroll;
    }
}
