/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  background-color: #607D8B;
  font-size: 1.6rem;
  font-family: 'Anonymous Pro', monospace;
}

a {
  color: #03A9F4;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  color: #81d4f9;
}

h1 {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  color: #CFD8DC;

}

header {
  margin-top: 5%;
  margin-left: 7%;
  margin-bottom: 5%;
}

.row{
  margin-top: 1%;
}

img {
  margin-top: 10px;
}

#picture {
    margin-left: 10%;
    height: 325px;
    text-align: left;
    background-size: auto 100%;
}